* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Lato', sans-serif;
}

:root {
	--bg-top: #00a884;
	--bg-bottom: #eae6df;
	--bg-bottom-deeper: #d1d7db;
	--bg-chat-selected: #e9ebeb;
	--bg-my-message: #d5f9ba;
	--bg-header: #eaeaea;
	--bg-footer: #f3eeea;
	--notification-banner-color: #8edafc;
	--gray-color: #b1b1b1;
	--container-border: #d6d6d6;

	--bg-top-height: 145px;
	--avatar-size: 50px;
}

.btn {
	cursor: pointer;
	
	margin: 0 .5rem;
	border: none;
	padding: 0;

	color: var(--gray-color);
	background-color: transparent;
	font-size: 1.2rem;
}

body {
	background: linear-gradient(
		to bottom,
		var(--bg-top) 0%,
		var(--bg-top) var(--bg-top-height),
		var(--bg-bottom) var(--bg-top-height),
		var(--bg-bottom-deeper) 100%
	);
	height: 100vh;
	padding: 2rem;
}

#root {
	height: 100%;
}

.wrapper {
	width: clamp(650px, 85%, 1300px);
	height: 100%;
	display: flex;
	margin: 0 auto;

	background-color: white;
}

.flex-align-center {
	padding: .5rem;
	display: flex;
	align-items: center;
}

[class $= -container] {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.left-container {
	flex-shrink: 0;
	border-right: 1px solid var(--container-border);
}

.right-container {
	flex-grow: 1;
}

header {
	background-color: var(--bg-header);
}

.user {
	padding: 0;
}

.btns {
	margin-left: auto;
}

.notification-bell,
.avatar {
	flex-shrink: 0;
	border-radius: 50px;
	width: 50px;
	margin-right: .5rem;
}

.notification {
	background-color: var(--notification-banner-color);
}

.notification-bell {
	font-size: 25px;
	line-height: 50px;
	text-align: center;
	color: var(--notification-banner-color);

	background-color: white;
}

.last-access,
.notification a{
	color: gray;
	font-size: .9em;
}

.search-bar {
	background-color: #fafafa;
}

.search-label {
	background-color: white;
	border-radius: 2px;
	padding: .3em 1em;
	font-size: 1rem;
	margin: 0;
	margin-right: 1px;
}

input[type=text] {
	flex-grow: 1;
	padding: .5em;
	border: 0;
	border-radius: 2px;
}

.chat-display,
.chats-wrapper {
	flex-grow: 1;
	overflow-y: scroll;
}

.chat + .chat {
	border-top: 1px solid var(--bg-chat-selected);
}

.chat.selected {
 background-color: var(--bg-chat-selected);
}

.username {
	margin-bottom: .3rem;
}

.last-msg,
.date {
	font-size: .7em;
	color: var(--gray-color);
}

.date {
	margin-left: auto;
	align-self: flex-start;
}

.chat-display {
	padding: 2rem 4rem;

	display: flex;
	flex-direction: column;

	background: url('../img/mine.jpg');
}

.message {
	border-radius: 8px;
	display: flex;
	flex-direction: column;
}

.message + .message {
	margin-top: 1rem;
}

.received-message {
	background-color: white;
	align-self: flex-start;
	margin-right: 1.5rem;
}

.my-message {
	background-color: var(--bg-my-message);
	align-self: flex-end;
	margin-left: 1.5rem;
}

.text {
	padding: .6em;
}

.menu-on-click {
	position: absolute;
	background-color: white;
	border-radius: 5px;
}

.menu-on-click div {
	padding: 1rem;
}

.message .date {
	padding: 0 .5em .3em 0;
	align-self: flex-end;
}

footer {
	background-color: var(--bg-footer);
}

.new-message input {
	font-size: 1.2em;
	padding: .7em;
}

.new-message button{
	margin: 0 2rem;
	font-size: 1.6em;
}

.fix-width {
	width: 30px;
}

.btn img {
	height: 30px;
	opacity: .4;
}

.is-typing {
	padding: .5em;
}

.is-typing::after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	-webkit-animation: ellipsis steps(4,end) 900ms infinite;      
	animation: ellipsis steps(4,end) 900ms infinite;
	content: "\2026"; /* ascii code for the ellipsis character */
	width: 0px;
 }
 
 @keyframes ellipsis {
	to {
	  width: 20px;    
	}
 }
 
 @-webkit-keyframes ellipsis {
	to {
	  width: 20px;    
	}
 }