* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-family: 'Lato', sans-serif;
}

:root {
	--light-brown: #efeae2;
	--gray-color: #b1b1b1;
	--notification-banner-color: #8edafc;
	
	--container-border: #d6d6d6;
	
	--bg-top: #00a884;
	--bg-bottom: #eae6df;
	--bg-bottom-deeper: #d1d7db;
	--bg-chat-selected: #e9ebeb;
	--bg-my-message: #d5f9ba;
	--bg-header: #eaeaea;
	--bg-footer: #f3eeea;
	--bg-theme: white;
	--bg-chat: var(--light-brown);
	--bg-chat-opacity: .6;

	--bg-top-height: 145px;
	--avatar-size: 50px;
}

body {
	background: linear-gradient(
		to bottom,
		var(--bg-top) 0%,
		var(--bg-top) var(--bg-top-height),
		var(--bg-bottom) var(--bg-top-height),
		var(--bg-bottom-deeper) 100%
		);
		height: 100vh;
	padding: 2rem;
}

#root {
	height: 100%;
}

.wrapper {
	width: clamp(650px, 85%, 1300px);
	height: 100%;
	display: flex;
	margin: 0 auto;
	
	background-color: var(--bg-theme);
}

.btn {
	cursor: pointer;
	
	margin: 0 .5rem;
	border: none;
	padding: 0;

	color: var(--gray-color);
	background-color: transparent;
	font-size: 1.2rem;
}

.flex-align-center {
	padding: .5rem;
	display: flex;
	align-items: center;
}

[class $= -container] {
	height: 100%;
	display: flex;
	flex-direction: column;
}

.left-container {
	flex-shrink: 0;
	border-right: 1px solid var(--container-border);
}

.right-container {
	flex-grow: 1;
}

header {
	background-color: var(--bg-header);
}

.user {
	padding: 0;
}

.btns {
	margin-left: auto;
}

.notification-bell,
.avatar {
	flex-shrink: 0;
	border-radius: 50px;
	width: 50px;
	margin-right: .5rem;
}

.notification {
	background-color: var(--notification-banner-color);
}

.notification-bell {
	font-size: 25px;
	line-height: 50px;
	text-align: center;
	color: var(--notification-banner-color);

	background-color: var(--bg-theme);
}

.last-access,
.notification a{
	color: gray;
	font-size: .9em;
}

.search-bar {
	background-color: #fafafa;
}

.search-label {
	background-color: var(--bg-theme);
	border-radius: 2px;
	padding: .3em 1em;
	font-size: 1rem;
	margin: 0;
	margin-right: 1px;
}

input[type=text] {
	flex-grow: 1;
	padding: .5em;
	border: 0;
	border-radius: 2px;
}

.chat-display,
.chats-wrapper {
	flex-grow: 1;
	overflow-y: scroll;
}

.chat + .chat {
	border-top: 1px solid var(--bg-chat-selected);
}

.chat.selected {
 background-color: var(--bg-chat-selected);
}

.username {
	margin-bottom: .3rem;
}

.last-msg,
.date {
	font-size: .7em;
	color: var(--gray-color);
}

.date {
	margin-left: auto;
	align-self: flex-start;
}

.chat-display {
	padding: 2rem 4rem;
	
	position: relative;

	display: flex;
	flex-direction: column;

	background-color: var(--bg-chat);
}

.chat-display::before {    
	content: "";
	background-image: url('../img/bg-tile.png');
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	opacity: var(--bg-chat-opacity);
}

.message {
	cursor: pointer;

	position: relative;

	padding: .7em 2em 1.5em .7em;

	border-radius: 8px;
	flex-direction: column;
}

.message:hover::before {
	content: url("data:image/svg+xml; utf8, <svg xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 448 512\"><!--! Font Awesome Pro 6.1.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill=\"gray\" d=\"M224 416c-8.188 0-16.38-3.125-22.62-9.375l-192-192c-12.5-12.5-12.5-32.75 0-45.25s32.75-12.5 45.25 0L224 338.8l169.4-169.4c12.5-12.5 32.75-12.5 45.25 0s12.5 32.75 0 45.25l-192 192C240.4 412.9 232.2 416 224 416z\"/></svg>");
	position: absolute;
	top: .4em;
	right: .6em;
	width: .9em;
}

.message .date {
	position: absolute;
	right: .4em;
	bottom: .4em;
}

.message + .message {
	margin-top: 1rem;
}

.received-message {
	background-color: var(--bg-theme);
	align-self: flex-start;
	margin-right: 1.5rem;
	border-top-left-radius: 0;
}

.my-message {
	background-color: var(--bg-my-message);
	align-self: flex-end;
	margin-left: 1.5rem;
	border-top-right-radius: 0;
}

.my-message::after {
	position: absolute;
	top: 0;
	left: 100%;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 13px 13px 0 0;
	border-color: var(--bg-my-message) transparent transparent transparent;
}

.received-message::after {
	position: absolute;
	top: 0;
	right: 100%;
	content: '';
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 13px 13px 0;
	border-color: transparent var(--bg-theme) transparent transparent;
}

.message .text {
	min-width: 4ch;
}

.menu-on-click {
	position: absolute;
	background-color: var(--bg-theme);
	border-radius: 5px;
	margin: -10px 0 0 -10px;
}

.menu-on-click div {
	cursor: pointer;
	padding: 1rem;
}

footer {
	background-color: var(--bg-footer);
}

.new-message input {
	font-size: 1.2em;
	padding: .7em;
}

.new-message button{
	margin: 0 2rem;
	font-size: 1.6em;
}

.fix-width {
	width: 30px;
}

.btn img {
	height: 30px;
	opacity: .4;
}

.is-typing {
	padding: .5em;
}

.is-typing::after {
	overflow: hidden;
	display: inline-block;
	vertical-align: bottom;
	-webkit-animation: ellipsis steps(4,end) 900ms infinite;      
	animation: ellipsis steps(4,end) 900ms infinite;
	content: "\2026"; /* ascii code for the ellipsis character */
	width: 0px;
 }
 
 @keyframes ellipsis {
	to {
	  width: 20px;    
	}
 }
 
 @-webkit-keyframes ellipsis {
	to {
	  width: 20px;    
	}
 }

.info-toggle {
	position: relative;
}

.info {
	position: absolute;
	bottom: 100%;
	display: block;
	background-color: var(--bg-theme);
	white-space: nowrap;
	margin-left: -1rem;
	transform: translateX(-30%);
}

.dark-mode {
	color: white;
	--bg-theme: #111b21;
	--bg-chat: var(--bg-theme);
	--bg-chat-opacity: .03;
	--bg-my-message: #005c4b;
}